@model Sps.Pos.Mvc.ViewModel.CounterViewModel
@{
	ViewData["Title"] = "Counter Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Counter Create</h1>
<br />
<br />
<form asp-controller="Counter" asp-action="CounterCreate" enctype="multipart/form-data" id="register-form" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="card">
		<div class="card-header">
		</div>
		<div class="card-body">
			<div class="register-logo" style="text-align:left;">
				<div class="col-12">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="CounterCode" class="control-label"></label>
						<input asp-for="CounterCode" class="form-control" placeholder="@Html.DisplayNameFor(m => m.CounterCode)" />
						<span asp-validation-for="CounterCode" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="CounterName" class="control-label"></label>
						<input asp-for="CounterName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.CounterName)" />
						<span asp-validation-for="CounterName" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-footer">
			<div class="row">
				<div class="col-sm-12 text-right">
					<a asp-action="Counters" asp-controller="Counter" class="btn btn-warning text-right">
						<i class="glyphicon glyphicon-chevron-left"></i>&nbsp;Back to List
					</a>
					<button type="submit" class="btn btn-success btn-flat">
						<i class="fa fa-plus-circle"></i>&nbsp; &nbsp; Create
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}
