################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pos/Sps.Pos/Sps.Pos.Dto/bin
/Pos/Sps.Pos/Sps.Pos.Dto/obj
/Pos/Sps.Pos/Sps.Pos.DataEntities/bin
/Pos/Sps.Pos/Sps.Pos.Api/obj
/Pos/Sps.Pos/Sps.Pos.Api/bin/Debug/net6.0
/Pos/Sps.Pos/Sps.Pos.Infrastructure/bin
/Pos/Sps.Pos/Sps.Pos.Infrastructure/obj
/Pos/Sps.Pos/Sps.Pos.Mvc/bin/Debug/net6.0
/Pos/Sps.Pos/Sps.Pos.Mvc/obj
/Pos/Sps.Pos/Sps.Pos/Sps.Pos.Api/bin/Debug/net6.0/runtimes/win-x86/native
/Pos/Sps.Pos/Sps.Pos/Sps.Pos.Api/bin/Debug/net6.0/runtimes/unix/lib
/Pos/Sps.Pos/Sps.Pos/Sps.Pos.Api/bin/Debug/net6.0/runtimes/win/lib
/Pos/Sps.Pos/Sps.Pos/Sps.Pos.Api/bin/Debug/net6.0/runtimes/win-arm/native
/Pos/Sps.Pos/Sps.Pos/Sps.Pos.Api/bin/Debug/net6.0/runtimes/win-arm64/native
/Pos/Pos/Sps.Pos/Sps.Pos.Api/bin/Debug/net6.0
/Pos/Pos/Sps.Pos/Sps.Pos.Api/obj
/Pos/Pos/Sps.Pos/Sps.Pos.DataEntities/bin
/Pos/Pos/Sps.Pos/Sps.Pos.DataEntities/obj
/Pos/Pos/Sps.Pos/Sps.Pos.Dto/bin
/Pos/Pos/Sps.Pos/Sps.Pos.Dto/obj
/Pos/Pos/Sps.Pos/Sps.Pos.Infrastructure/bin
/Pos/Pos/Sps.Pos/Sps.Pos.Infrastructure/obj
/Pos/Pos/Sps.Pos/Sps.Pos.Mvc/bin/Debug/net6.0
/Pos/Pos/Sps.Pos/Sps.Pos.Mvc/obj
