################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pos/Sps.Pos/Sps.Pos.Dto/bin
