<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Sps.Pos.Web</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	 <link href="~/Templates/sbAdmin2/css/sb-admin-2.min.css" rel="stylesheet" />
	<style>
		.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
		{ 
			max-width: 650px !important; 
		}
		footer {
			left: 0;
			bottom: 10px;
			height: 100px;
			width: 100%;
		}
	</style>
</head>
<body>
	<br />
	<br />
	<div class="header-bot">
		<div class="header-bot_inner_wthreeinfo_header_mid">
			<div class="col-md-12 logo_agile">
				<h1>
					<a asp-action="Index" asp-controller="Home">
						<span>P</span>os
						<span>S</span>ystem
					</a>
				</h1>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<br />
	<br />
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer>
		<div class="container">
			<hr />
			<div class="row footer-info w3-agileits-info">
				<div class="col-sm-4 footer-grids">
					<h3>Quick Links</h3>
					<ul>
					   <li>
						<a asp-action="About" asp-controller="Home">About Us</a>
					   </li>
					   <li>
						<a asp-action="Contact" asp-controller="Home">Contact Us</a>
					   </li>
					   <li>
						<a asp-action="Terms" asp-controller="Home">Terms of use</a>
					   </li>
					  </ul>
				</div>
				<div class="col-sm-4 footer-grids">
					<h3>Get in Touch</h3>
					<ul>
						<li>
							<i class="fa fa-map-marker"></i> H/3, St/6, Near Jinnah College Spall Town, Gujrat - Jalalpur Jattan Rd, opposite Rehman Baker, Al Nabi Colony, Gujrat, 50780
						</li>
						<li>
							<i class="fa fa-mobile"></i> 0333 8469166
						</li>
						<li>
							<i class="fa fa-envelope-o"></i>
							<a href="mailto:info@softpins.com"> info@softpins.com </a>
						</li>
					</ul>
				</div>
				<div class="col-sm-4 footer-grids  w3l-socialmk">
					<h3>Follow Us</h3>
					<div class="social">
						<ul>
							<li><a class="icon fb" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="icon tw" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="icon gp" href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	@await Component.InvokeAsync("NToastNotify")
</body>
</html>