@model Sps.Pos.Mvc.ViewModel.SubCategoryViewModel
@{
	ViewData["Title"] = "Update Category";
}

<h3>Sub Category Edit</h3>
<br />
<br />
<form asp-controller="SubCategory" asp-action="SubCategoryEdit" id="register-form" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input asp-for="Id" type="hidden" />
	<div class="card">
		<div class="card-header">
		</div>
		<div class="card-body">
			<div class="register-logo" style="text-align:left;">
				<div class="col-12">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="SubCategoryCode" class="control-label"></label><span class="text-danger">*</span>
						<input asp-for="SubCategoryCode" class="form-control" placeholder="@Html.DisplayNameFor(m => m.SubCategoryCode)" />
						<span asp-validation-for="SubCategoryCode" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="SubCategoryName" class="control-label"></label><span class="text-danger">*</span>
						<input asp-for="SubCategoryName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.SubCategoryName)" />
						<span asp-validation-for="SubCategoryName" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group checkbox">
						<input asp-for="Active" class="form-check-input" />
						<label asp-for="Active" class="control-label"></label>
						<span asp-validation-for="Active" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group checkbox">
						<input asp-for="DisplayOnPos" class="form-check-input" />
						<label asp-for="DisplayOnPos" class="control-label"></label>
						<span asp-validation-for="DisplayOnPos" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-footer">
			<div class="row">
				<div class="col-sm-12 text-right">
					<a asp-action="SubCategories" asp-controller="SubCategory" class="btn btn-warning text-right">
						<i class="glyphicon glyphicon-chevron-left"></i>&nbsp;Back to List
					</a>
					<button type="submit" class="btn btn-success btn-flat">
						<i class="fa fa-floppy-o"></i>&nbsp; &nbsp; Update
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}

