@model Sps.Pos.Mvc.ViewModel.ChannelViewModel
@{
	ViewData["Title"] = "ChannelCreate";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Channel Create</h1>
<br />
<br />
<form asp-controller="Channel" asp-action="ChannelCreate" enctype="multipart/form-data" id="register-form" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="card">
		<div class="card-header">
		</div>
		<div class="card-body">
			<div class="register-logo" style="text-align:left;">
				<div class="col-12">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label asp-for="ChannelName" class="control-label"></label>
						<input asp-for="ChannelName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.ChannelName)" />
						<span asp-validation-for="ChannelName" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-footer">
			<div class="row">
				<div class="col-sm-12 text-right">
					<a asp-action="Channels" asp-controller="Channel" class="btn btn-warning text-right">
						<i class="glyphicon glyphicon-chevron-left"></i>&nbsp;Back to List
					</a>
					<button type="submit" class="btn btn-success btn-flat">
						<i class="fa fa-plus-circle"></i>&nbsp; &nbsp; Create
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}

