@model Sps.Pos.Mvc.ViewModel.SaleManViewModel
@{
	ViewData["Title"] = "Sale Man Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sale Man Edit</h1>

<br />
<br />
<form asp-controller="SalesMan" asp-action="SaleManEdit" enctype="multipart/form-data" id="register-form" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input asp-for="Id" type="hidden" />
	<div class="card">
		<div class="card-header">
		</div>
		<div class="card-body">
			<div class="register-logo" style="text-align:left;">
				<div class="col-12">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="SaleManCode" class="control-label"></label>
						<input asp-for="SaleManCode" class="form-control" placeholder="@Html.DisplayNameFor(m => m.SaleManCode)" />
						<span asp-validation-for="SaleManCode" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="SaleManName" class="control-label"></label>
						<input asp-for="SaleManName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.SaleManName)" />
						<span asp-validation-for="SaleManName" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-footer">
			<div class="row">
				<div class="col-sm-12 text-right">
					<a asp-action="SaleMans" asp-controller="SalesMan" class="btn btn-warning text-right">
						<i class="glyphicon glyphicon-chevron-left"></i>&nbsp;Back to List
					</a>
					<button type="submit" class="btn btn-success btn-flat">
						<i class="fa fa-floppy-o"></i>&nbsp; &nbsp; Update
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}