@model Sps.Pos.Mvc.ViewModel.Security.ConfirmEmailViewModel
@{
    ViewData["Title"] = "ConfirmEmail";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Confirm Email</h4>
<div class="login-box">
	<div class="card">
		<div class="card-body login-card-body">
			<div class="row">
				<div class="col-12">
					<div style="color: #dc3545;">
						<b>Password Policy</b>
						<ul>
							<li>
								Minimum length should be 6 characters
							</li>
							<li>
								Maximum allowed length is 20 characters
							</li>
							<li>
								At least one numeric character is required
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<form asp-action="ConfirmEmail">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input asp-for="Code" type="hidden" />
						<input asp-for="UserId" type="hidden" />
						<input asp-for="UserName" type="hidden" />
						<div class="form-group">
							<label asp-for="UserName" class="control-label"></label>
							<label class="form-control">@Model.UserName</label>
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Password" class="control-label"></label>
							<input asp-for="Password" class="form-control" />
							<span asp-validation-for="Password" class="text-danger"></span>
							<span class="text-danger field-validation-valid" data-valmsg-for="SamePassword" data-valmsg-replace="true"></span>
						</div>
						<div class="form-group">
							<label asp-for="ConfirmPassword" class="control-label"></label>
							<input asp-for="ConfirmPassword" class="form-control" />
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div><br />
						<div class="form-group">
							<input type="submit" value="Confirm" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		var errorMessage = 'Username and Password can not be same.';
		var errorElement = $('span[data-valmsg-for="SamePassword"]');
		$('form').submit(function () {
			if ($('#UserName').val() !== $('#Password').val()) {
				errorElement.addClass('field-validation-valid').removeClass('field-validation-error').text('');
				return true;
			} else {
				errorElement.addClass('field-validation-error').removeClass('field-validation-valid').text(errorMessage);
				return false;
			}
		});

		function CheckSameUsernamePassword() {
			if ($('#UserName').val() !== $('#Password').val()) {
				errorElement.addClass('field-validation-valid').removeClass('field-validation-error').text('');
			} else {
				errorElement.addClass('field-validation-error').removeClass('field-validation-valid').text(errorMessage);
			}
		}

		$('#UserName').change(CheckSameUsernamePassword);
		$('#Password').change(CheckSameUsernamePassword);
	</script>
}
